<body style="
		width: 100%%;
		font-size: 16px;">
	<div class="content-body" style="
								border: 1rem #3DD5F3 solid;
								border-radius: 2rem;width: 80%%;
								margin: auto;padding: 2vw;
								text-align: center;">
		<h1 style="
				font-weight: bold;
				font-size: 3rem;
				color: #3DD5F3;
				border-bottom: 0.2rem #3DD5F3 solid;">
			%s<!-- 회원가입 환영 -->
		</h1>
		<div class="text-body" style="
								font-weight: bold;
								font-size: 1.5rem;
								color: #6EDFF6;
								margin-bottom: 2rem;">
			%s<!-- 코드를 눌러달라는 안내 -->
		</div>
		<div class="code-body" style="
								border: 0.2rem #9EEAF9 solid;">
			<div class="code-title" style="
										font-size: 1.5rem;
										color: #6EDFF6;
										border-bottom: 0.05em #6EDFF6 solid;">
				Code
			</div>
			<div class="code" style="
								padding-top: 5rem;
								padding-bottom: 5rem;">
				<a href="http://192.168.11.16:9090/myyk/memberPage/createMemberInput.do?code=%s" style="
										font-style: normal;
										color: black;
										text-decoration: none;
										font-weight: bold;
										font-size: 1.7rem;"><!-- 임시코드 -->
					%s<!-- 임시코드 -->
				</a>
			</div>
		</div>
	</div>
</body>