@charset "UTF-8";
html {
	font-size: 16px;
}
body {
	--primary-color-100:#9EEAF9;
	--primary-color-200:#6EDFF6;
	--primary-color-300:#3DD5F3;
	
	position: relative;
	top: 14vh;
	
	text-align: center;
		
	padding-top: 2%;
	padding-left: 6%;
	padding-right: 6%;
}
@media (pointer:coarse) {
   	body {
		top: 17vh;
	}
	html {
		font-size: 30px;
	}
}

/*
	loading spinner
*/
.loading-spinner {
	z-index: 100006;
  	position:fixed;         
  	top:0;
  	left:0;
  	right:0;
  	bottom:0;       
  	padding:15px; 
  	justify-content:center;
  	align-items:center;
 	display:none;
}



form {
	text-align: left;
}

/*
	general color
*/
.primary-color{
	color:var(--primary-color-100);
}
.primary-color:focus, 
.primary-color:hover{
	color:var(--primary-color-200);
}
.primary-dark-color{
	color:var(--primary-color-200);
}
.primary-dark-color:focus, 
.primary-dark-color:hover{
	color:var(--primary-color-300);
}
.primary-background{
	background-color:var(--primary-color-100);
}
.primary-background:focus,
.primary-background:hover{
	background-color:var(--primary-color-200);
}
.primary-dark-background{
	background-color:var(--primary-color-200);
}
.primary-dark-background:focus,
.primary-dark-background:hover{
	background-color:var(--primary-color-300);
}


.primary-color-not-hover{
	color:var(--primary-color-100);
}
.primary-dark-color-not-hover{
	color:var(--primary-color-200);
}

/* 
	primary 
*/
.btn-primary{
	color:#fff;
	background-color:var(--primary-color-100);
	border-color:var(--primary-color-100);
}
.btn-primary:hover{
	color:#fff;
	background-color:var(--primary-color-200);
	border-color:var(--primary-color-200);
}
.btn-check:focus+.btn-primary,
.btn-primary:focus{
	color:#fff;
	background-color:var(--primary-color-200);
	border-color:var(--primary-color-200);
	box-shadow:0 0 0 .25rem rgba(49,132,253,.5);
}
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle{
	color:#fff;
	background-color:var(--primary-color-200);
	border-color:var(--primary-color-200);
}
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus{
	box-shadow:0 0 0 .25rem rgba(49,132,253,.5);
}
.btn-primary.disabled,.btn-primary:disabled{
	color:#fff;
	background-color:var(--primary-color-100);
	border-color:var(--primary-color-100);
}


/* 
	primary-outline
*/
.btn-outline-primary{
	color:var(--primary-color-200);
	border-color:var(--primary-color-200);
}
.btn-outline-primary:hover{
	color:#fff;
	background-color:var(--primary-color-200);
	border-color:var(--primary-color-200);
}
.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus{
	box-shadow:0 0 0 .25rem rgba(13,110,253,.5);
}
.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active{
	color:#fff;
	background-color:var(--primary-color-200);
	border-color:var(--primary-color-200);
}.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus{
	box-shadow:0 0 0 .25rem rgba(13,110,253,.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled{
	color:var(--primary-color-200);
	background-color:transparent;
}


/*
	title
*/
.title{
	color:var(--primary-color-300);
	font-size: 2.5rem;
	margin-bottom: 2.5rem;
	border-bottom: 0.15rem solid var(--primary-color-200);
}


/*
	input group
*/
.input-group span {
	background-color:var(--primary-color-100);
	color:#fff;
	border-top-width: 0.1rem;
	border-bottom-width: 0.1rem;
	border-left-width: 0.1rem;
	border-right-width: 0.1rem;
	border-color: var(--primary-color-100);
}
.form-control {
	border-top-width: 0.1rem;
	border-bottom-width: 0.1rem;
	border-left-width: 0.1rem;
	border-right-width: 0.1rem;
	border-color: var(--primary-color-100);
	color: var(--primary-color-300);
}
.form-select {
	border-top-width: 0.1rem;
	border-bottom-width: 0.1rem;
	border-left-width: 0.1rem;
	border-right-width: 0.1rem;
	border-color: var(--primary-color-100);
	color: var(--primary-color-300);
}
