@charset "UTF-8";

header{
	display:flex;
	flex-wrap:wrap;
	background-color: #fff;
	z-index: 100005;
	padding: 2%;
	border-bottom: 0.3rem solid var(--primary-color-300);
}

.selected-header{
	background-color: rgb(13,110,253);
	border: 1px solid rgb(13,110,253);
}

.bi {
	width: 2rem;
	height: 2rem;
  	vertical-align: -.125em;
  	fill: currentColor;
}

@media (pointer:coarse) {
	#login-btn-div{
   		margin: 0 0 0 auto;
	}
	header {
		display:inline-block;
		flex-wrap:nowrap;
		text-align: center;
	}
	header > a {
		margin: auto;
	}
	header > .nav {
		margin: auto;
	}
}


/*
	footer
*/
#loading-modal-btn {
	display: none;
}
