@charset "UTF-8";

#check-email-btn{
	width: 65%;
	font-size: 1.2rem;
}

.ok-btn-div {
	display:grid;
	gap:.5rem;
	font-size: 1.3rem;
}

@media (pointer:fine) {
	.content-body {
		width: 70%;
		margin: auto;
	}
	.ok-btn-div > button {
		width: 15%;
	}
	.ok-btn-div {
		display:flex!important;
		justify-content:center!important;
	}
}